<about-us>
    <section id="first_section" [class.first_section_mob]="!this._app.isDesktop">
        <div>
            <div class="title">
                <div>Integer bibendum sit amet acru vel egestas.</div>
            </div>
            <div [class.formob]="!this._app.isDesktop">
                <p>
                    <img src="../../assets/images/resources.png">
                    <span>Service Name</span>
                </p>
                <p>
                    <img src="../../assets/images/process.png">
                    <span>Service Name</span>
                </p>
                <p>
                    <img src="../../assets/images/archieve.png">
                    <span>Service Name</span>
                </p>
            </div>
        </div>
    </section>
    <section id="second_section" [class.second_section_mob]="!this._app.isDesktop">
        <div class="left">
            <p class="main_text">
                Mauris id bebendum est. Proin dapibus sollicitudin iaculis, Maecenas condimentum maximum laoreet.
            </p>
            <p class="sub_text">
                In maximus euismod egestas. Fusce tincidunt posuere est non elementum. Vivamus ticidunt eleifend nisl et
                gravida. Aenean in lorem ultrices, pellentesque augue eu, mattis est. Praesent sed volutpat nibh. Morbi
                gauibus tortor sed neque vulputate hendrerit. Sed aliauam mattis purus eieifend consectetur. Nulla
                mollis non enim non tempus.
            </p>
        </div>
        <div class="right">
            <img src="../../assets/images/global.jpg">
        </div>
    </section>
    <section id="testimonials_section" [class.testimonials_section_mob]="!this._app.isDesktop">
        <div class="title">Testimonials</div>
        <div class="testimonial">
            <p>
                <label class="icon-quote"></label>
                <span>Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissin. Anean non
                    rhoncus quam.
                </span>
            </p>
            <div>
                <img src="../../assets/images/client.jpg">
                <div><span>CLIENT NAME</span><span>Position, ORG</span></div>
            </div>
        </div>
        <div class="testimonial">
            <p>
                <label class="icon-quote"></label>
                <span>Finc ut ipsum iaculis, dictum magna id, acinia ante. Nulla facilisi. Integer lobortis in risus
                    eget volupat. Donec interdum elit eget quam aliquam auctor finibus.
                </span>
            </p>
            <div>
                <img src="../../assets/images/client.jpg">
                <div><span>CLIENT NAME</span><span>Position, ORG</span></div>
            </div>
        </div>
        <div class="testimonial">
            <p>
                <label class="icon-quote"></label>
                <span>Mauris id bibendum est. Proin dapibus sollicitudin iaculis. Maecenas condimentum maximus laoreet.
                    In maximus euismod egestas.
                </span>
            </p>
            <div>
                <img src="../../assets/images/client.jpg">
                <div><span>CLIENT NAME</span><span>Position, ORG</span></div>
            </div>
        </div>
    </section>
    <section id="work_with_us_section" [class.work_with_us_section_mob]="!this._app.isDesktop">
        <div>
            <div class="text1">Convinced To Work With Us ?</div>
            <div class="text2">Company has helped agencies keep their promises to clients since 2005.</div>
            <div class="form">
                <input type="textbox" placeholder="Fullname" />
                <input type="textbox" placeholder="Email Address" />
                <input type="textbox" placeholder="Phone Number" />
                <input type="textarea" placeholder="Message in brief" />
                <div><span>Submit</span></div>
            </div>
        </div>
    </section>
</about-us>